# ------------------------------------------------------------------
# Django Web Service
# ------------------------------------------------------------------
WEB_DB_NAME=web_db
WEB_DB_USER=web_user
WEB_DB_PASSWORD=changeme

DJANGO_SECRET_KEY=your_django_secret_key
DJANGO_ALLOWED_HOSTS=localhost, 127.0.0.1

ENABLE_SSL=true

# ------------------------------------------------------------------
# Projects Microservice
# ------------------------------------------------------------------
PROJECTS_DB_NAME=projects_db
PROJECTS_DB_USER=projects_user
PROJECTS_DB_PASSWORD=changeme


# ------------------------------------------------------------------
# Time Tracking Microservice
# ------------------------------------------------------------------
TIME_TRACKING_DB_NAME=time_tracking_db
TIME_TRACKING_DB_USER=time_tracking_user
TIME_TRACKING_DB_PASSWORD=changeme