# ------------------------------------------------------------------
# Django Web Service
# ------------------------------------------------------------------
WEB_DB_NAME=web_db_name
WEB_DB_USER=web_db_user
WEB_DB_PASSWORD=web_db_password

DJANGO_SECRET_KEY=your_django_secret_key
DJANGO_ALLOWED_HOSTS=127.0.0.1

# ------------------------------------------------------------------
# Projects Microservice
# ------------------------------------------------------------------
PROJECTS_DB_NAME=projects_db_name
PROJECTS_DB_USER=projects_db_user
PROJECTS_DB_PASSWORD=projects_db_password

# ------------------------------------------------------------------
# Time Tracking Microservice
# ------------------------------------------------------------------
TIME_TRACKING_DB_NAME=time_tracking_db_name
TIME_TRACKING_DB_USER=time_tracking_db_user
TIME_TRACKING_DB_PASSWORD=time_tracking_db_password