<div class="d-flex flex-wrap align-items-center gap-3">

  {% if projects_error %}

    <div class="alert alert-danger mb-0">
      {{ projects_error }}
    </div>

  {% else %}

    <form method="post" class="d-flex align-items-center gap-3 mb-0">
      {% csrf_token %}

      <input type="hidden" name="form_type" value="select_project">

      <select
        name="project_id"
        class="form-select form-select-lg"
        style="min-width: 280px;"
        onchange="this.form.submit()"
        {% if has_running_session %}disabled{% endif %}
      >
        <option value="">Select project</option>

        {% for project in projects %}
        <option value="{{ project.id }}" {% if selected_project and project.id == selected_project.id %}selected{% endif %}>
          {{ project.name|truncatechars:30 }}
        </option>
        {% endfor %}

      </select>
    </form>

    <form method="post" action="{% url 'app:clock_in' %}" class="mb-0">
      {% csrf_token %}

      <button
        type="submit"
        class="btn btn-sm btn-success btn-lg"
        {% if has_running_session or not selected_project %}disabled{% endif %}
      >
        Clock in
      </button>
    </form>


    <form method="post" action="{% url 'app:clock_out' %}" class="mb-0">
      {% csrf_token %}

      <button
        type="submit"
        class="btn btn-sm btn-danger btn-lg"
        {% if not has_running_session %}disabled{% endif %}
      >
        Clock out
      </button>
    </form>

    {% if has_running_session %}
      <span class="text-success fw-semibold">
        Clocked-In
      </span>
    {% endif %}

    <a href="{% url 'app:projects' %}" class="btn btn-sm btn-outline-primary ms-auto">
      Manage projects
    </a>

    <!-- {% if selected_project %}
      <span class="text-muted">
        Selected:
        <strong>{{ selected_project.name }}</strong>
      </span>
    {% endif %} -->

  {% endif %}

</div>